<div class="tooltipContent">
	<div class="author">{{dataset.name}}'s bracket</div>
	<div class="game">
		<span class="team" style="border-color:{{teams[0].colors[0]}};">
			<span class="name">{{datapoint.game.participants[0]}}</span>
			<span class="score">{{datapoint.scores[0]}}</span>
		</span>
		<span class="team" style="border-color:{{teams[1].colors[0]}};">
			<span class="name">{{datapoint.game.participants[1]}}</span>
			<span class="score">{{datapoint.scores[1]}}</span>
		</span>
	</div>
</div>